<h1> Show template </h1>

<!--this displays when a parameter is given in people eg "http://localhost:3000/people/luke-skywalker"-->

<%= @person %>

<p><%= link_to "list of people", people_path %></p>
