<!DOCTYPE html>
<html>
<head>
  <title>ProjectManager</title>
  <%= render :partial => "shared/includes" %>
  
</head>
<body>
  <p id="notice"><%= notice%></p>
  <%= javascript_include_tag :all %>

<%= yield %>

</body>
</html>
